<div class="filters">
  <h2 class="filters__title">
    Filter by:
  </h2>

  <ul class="filters__group-list">
    <% search_filters.each do |filter| %>
      <li class="filters__group-item">
        <button
          data-toggle-trigger="<%= filter[:id] %>"
          class="filters__group-trigger"
        >
          <%= filter[:name] %>
        
          <i
            data-toggle-switch="<%= filter[:id] %>"
            class="fa fa-chevron-up filters__group-toggle"
          ></i>
        </button>

        <ul
          <%= "data-toggle-hide" unless params[:filters]&.has_key?(filter[:params_key]) %>
          data-toggle-target="<%= filter[:id] %>"
          class="filters__list"
        >
          <% @all_filters[filter[:params_key]].each do |item| %>
            <li class="filters__list-item">
              <a
                href="<%= filter_link(filter[:params_key], item.id) %>"
                class="filters__filter"
              >
                <div class="<%= filter_toggle_class(filter[:params_key], item.id) %>"></div>

                <span class="filters__filter-title">
                  <%= filter[:item_name_callback].call(item) %>
                </span>
              </a>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
