<%= content_for :breadcrumbs do %>
  <%= breadcrumb "Search" %>
<% end %>
<%= content_for :page_title do %>
  <h1 class="page__title">
    <span class="page__title--thin">Search results</span>

    <% if params[:q] %>
      <span> for:</span> <strong><%= params[:q] %></strong>
    <% end %>
  </h1>
<% end %>

<main class="main">
  <div class="search-page">
    <div class="search-page__filters">
      <%= render "filters" %>
    </div>

    <div class="search-page__body">
      <p class="search-page__summary">Showing <%= @from + 1 %>-<%= @to + 1 %> of <%= @results&.size || 0 %> results found.</p>
      <%= render "search_results" %>
      <%= render "pagination" %>
    </div>
  </div>
</main>
