<div class="page__aside-section">
  <h2 class="page__aside-section-title">Key indicator facts</h2>

  <div class="u-only-print u-half">
    <h3 class="fact__subtitle">Indicator type</h3>
    <p class="fact__value"><%= @cms_page.indicator_type&.name || "N/A" %></p>

    <h3 class="fact__subtitle">Applicable for national use</h3>
    <p class="fact__value">
      <% if @cms_page.applicable_for_national_use %>
        Yes <a href="#national_use" data-toggle-alternate-trigger="national-use">(find out more)</a>
      <% else %>
        No
      <% end %>
    </p>

    <h3 class="fact__subtitle">Indicator classification</h3>
    <p class="fact__value"><%= @cms_page.indicator_classification&.name || "N/A" %></p>
  </div>

  <div class="u-hide-print">
    <h3 class="fact__subtitle">Indicator type</h3>
    <p class="fact__value"><%= @cms_page.indicator_type&.name || "N/A" %></p>

    <h3 class="fact__subtitle">Applicable for national use</h3>
    <p class="fact__value">
      <% if @cms_page.applicable_for_national_use %>
        Yes <a href="#national_use" data-toggle-alternate-trigger="national-use">(find out more)</a>
      <% else %>
        No
      <% end %>
    </p>

    <h3 class="fact__subtitle">Indicator classification</h3>
    <p class="fact__value"><%= @cms_page.indicator_classification&.name || "N/A" %></p>
  </div>

  <h3 class="fact__subtitle">Last update</h3>
  <p class="fact__value"><%= @cms_page.last_update&.year || "N/A" %></p>

  <h3 class="fact__subtitle">Coverage</h3>
  <p class="fact__value"><%= @cms_page.coverage&.name || "N/A" %></p>

  <h3 class="fact__subtitle">Availability</h3>
  <% if @cms_page.freely_available %>

    <p class="fact__value fact__value--no-margin-bottom">Data freely available:</p>
    <% if !@cms_page.available_link.empty? %>
      <p class="fact__value fact__value--small fact__value--no-margin-bottom">
        <%= link_to available_link_title, @cms_page.available_link %>
      </p>
    <% end %>
    <% if !@cms_page.available_link_alternate.empty? %>
      <p class="fact__value fact__value--small">
        <%= link_to available_link_title_alternate, @cms_page.available_link_alternate %>
      </p>
    <% end %>

  <% else %>

    <p class="fact__value fact__value--no-margin-bottom">Data available on request:</p>
    <div class="fact__free-text s-free-text s-contact-point"><%= cms_block_render(:contact_point) %></div>

  <% end %>

  <div class="u-hide-print">
    <h3 class="fact__subtitle">Download</h3>
    <p class="fact__value">
      <%= link_to "Download this page as a PDF", download_path(page: @cms_page.slug) %>
    </p>
  </div>
</div>
