<%= content_for :page_title do %>
  <h1 class="page__title">Partners</h1>
<% end %>
<%= content_for :breadcrumbs do %>
  <%= breadcrumb("Partners") %>
<% end %>

<main class="main">
  <div class="listing-page">
    <ul class="listing-page__list">
      <% @partners.each do |partner| %>
        <li class="listing-page__list-item">
          <div class="listing-card listing-card--with-image">
            <div class="listing-card__left">
              <div class="listing-card__image listing-card__image--large">
                <%= image_tag partner.logo.url(:medium) %>
              </div>
            </div>

            <div class="listing-card__right">
              <h2 class="listing-card__name"><%= partner.name %></h2>

              <div class="listing-card__description"><%= raw partner.description %></div>

              <div class="listing-card__tags">
                <ul class="listing-card__tag-list">
                  <% partner.partner_types.each do |partner_type| %>
                    <li class="listing-card__tag-list-item">

                      <div class="listing-card__tag">
                        <em><%= partner_type.name %></em>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>

              <div class="listing-card__footer">
                <%= link_to partner.url, target: "_blank", class: "listing-card__link" do %>
                  <i class="icon--left icon--external-link %>"></i>
                  View
                <% end %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</main>
