<hr>

<div class="form-group">
  <%= form.label :indicator_type, :class => 'control-label col-sm-2' %>
  <div class="col-sm-10">
    <select style="width: 100%" class="js-select2" name="page[indicator_type_id]">
      <% IndicatorType.pluck(:id, :name).each do |(id, name)| %>
        <option <%= @page.indicator_type&.id == id ? "selected" : "" %> value="<%= id %>"><%= name %></option>
      <% end %>
    </select>
  </div>
</div>

<div class="form-group">
  <%= form.label :applicable_for_national_use, :class => 'control-label col-sm-2' %>
  <div class="col-sm-10">
    <%= check_box_tag "page[applicable_for_national_use]", "", @page.applicable_for_national_use %>
  </div>
</div>

<div class="form-group">
  <%= form.label :indicator_classification, :class => 'control-label col-sm-2' %>
  <div class="col-sm-10">
    <select style="width: 100%" class="js-select2" name="page[indicator_classification_id]">
      <% IndicatorClassification.pluck(:id, :name).each do |(id, name)| %>
        <option <%= @page.indicator_classification&.id == id ? "selected" : "" %> value="<%= id %>"><%= name %></option>
      <% end %>
    </select>
  </div>
</div>

<div class="form-group">
  <%= form.label :last_update, :class => 'control-label col-sm-2' %>
  <div class="col-sm-10">
    <select style="width: 100%" class="js-select2" name="page[last_update]">
      <% (2000..Date.today.year).each do |year| %>
        <option <%= @page.last_update&.year == year ? "selected" : "" %> value="<%= year %>"><%= year %></option>
      <% end %>
    </select>
  </div>
</div>

<div class="form-group">
  <%= form.label :coverage, :class => 'control-label col-sm-2' %>
  <div class="col-sm-10">
    <select style="width: 100%" class="js-select2" name="page[coverage_id]">
      <% Coverage.pluck(:id, :name).each do |(id, name)| %>
        <option <%= @page.coverage&.id == id ? "selected" : "" %> value="<%= id %>"><%= name %></option>
      <% end %>
    </select>
  </div>
</div>

<div class="form-group">
  <%= form.label :freely_available, :class => 'control-label col-sm-2' %>
  <div class="col-sm-10">
    <%= check_box_tag "page[freely_available]", "", @page.freely_available, data: {check_show_trigger: "available-link"} %>
  </div>
</div>

<div class="form-group" data-check-show-target="available-link">
  <%= form.label :available_link_title, :class => 'control-label col-sm-2' %>
  <div class="col-sm-10">
    <%= text_field_tag "page[available_link_title]", @page.available_link_title, style: "width:100%;", class: "form-control" %>
  </div>
</div>

<div class="form-group" data-check-show-target="available-link">
  <%= form.label :available_link, :class => 'control-label col-sm-2' %>
  <div class="col-sm-10">
    <%= url_field_tag "page[available_link]", @page.available_link, style: "width:100%;", placeholder: "e.g. http://example.com", class: "form-control" %>
  </div>
</div>

<div class="form-group" data-check-show-target="available-link">
  <%= form.label :available_link_title_alternate, :class => 'control-label col-sm-2' %>
  <div class="col-sm-10">
    <%= text_field_tag "page[available_link_title_alternate]", @page.available_link_title_alternate, style: "width:100%;", class: "form-control" %>
  </div>
</div>

<div class="form-group" data-check-show-target="available-link">
  <%= form.label :available_link_alternate, :class => 'control-label col-sm-2' %>
  <div class="col-sm-10">
    <%= url_field_tag "page[available_link_alternate]", @page.available_link_alternate, style: "width:100%;", placeholder: "e.g. http://example.com", class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= form.label :peer_reviewed, :class => 'control-label col-sm-2' %>
  <div class="col-sm-10">
    <%= check_box_tag "page[peer_reviewed]", "", @page.peer_reviewed, data: {check_show_trigger: "available-link"} %>
  </div>
</div>

<hr>

<div class="form-group">
  <%= form.label :resources, :class => 'control-label col-sm-2' %>
  <div class="js-resource col-sm-10">
    <% if @page.resources.any? %>
      <% @page.resources.order(:index).each do |resource| %>
        <div style="margin-bottom: 2rem;">
          <div data-resource-show="<%= resource.id %>">
            <input type="hidden" value="<%= resource.id %>" name="resources[][id]">
            <input type="hidden" name="resources[][index]" value="<%= resource.index %>" class="form-control">
            <input type="hidden" name="resources[][is_key]"  value="<%= resource.is_key ? "1" : "0" %>" class="form-control">

            <strong>Position:</strong> <span class="js-resource-index"><%= resource.index %></span><br>
            <strong>Label:</strong> <%= resource.label %><br>
            <strong>Section:</strong> <%= resource.resource_type&.name %><br>
            <strong>Type:</strong> <%= resource.kind&.titleize %><br>
            <strong>Key resource:</strong> <%= resource.is_key ? "Yes" : "No" %><br>
            <% if resource.kind == "file" %>
              <strong>File:</strong><%= link_to "Download", resource.file.url %><br>
            <% else %>
              <strong>Link:</strong><%= link_to resource.url, resource.url %><br>
            <% end %>
          </div>
          <div style="display:none" data-resource-edit="<%= resource.id %>">
            <input disabled="disabled" type="hidden" value="<%= resource.id %>" name="resources[][id]">

            <label for="resources[][label]">Label</label>
            <input disabled="disabled" type="text" name="resources[][label]" value="<%= resource.label %>" class="form-control">

            <label style="margin-top: 1rem;" for="resources[][is_key]">Key resource?</label>
            <input type="checkbox" value="1" name="resources[][is_key]" <%= "checked" if resource.is_key %> class="form-control">

            <label style="margin-top: 1rem;" for="resources[][resource_type_id]">Resource section</label>
            <select disabled="disabled" name="resources[][resource_type_id]" class="form-control">
              <% ResourceType.pluck(:id, :name).each do |(id, name)| %>
                <option <%= "selected" if resource.resource_type&.id == id %> value="<%= id %>"><%= name %></option>
              <% end %>
            </select>

            <label style="margin-top: 1rem;" for="resources[][kind]">Type of resource</label>
            <select disabled="disabled" name="resources[][kind]" class="form-control">
              <option <%= "selected" if resource.kind == "file" %> value="file">File</option>
              <option <%= "selected" if resource.kind == "link" %> value="link">Link</option>
            </select>

            <label style="margin-top: 1rem;" for="resources[][file]">File</label>
            <input disabled="disabled" type="file" name="resources[][file]" placeholder="File" class="form-control">

            <label style="margin-top: 1rem;" for="resources[][url]">Link</label>
            <input disabled="disabled" style="margin-bottom: 1rem;" type="url" name="resources[][url]" value="<%= resource.url %>" placeholder="Leave blank if resource is a file" class="form-control">
          </div>

          <button data-resource-trigger="<%= resource.id %>" class="btn btn-primary">Edit resource</button>
          <%= link_to("Delete resource", admin_resource_path(resource), method: :delete, class: "btn btn-danger") %>
        </div>
      <% end %>
    <% end %>

    <div class="js-add-resources">
      <div class="js-target"></div>
      <button class="js-trigger btn btn-primary">Add new resource</button>
    </div>
  </div>
</div>

<% if all_indicators = Comfy::Cms::Page.find_by_label("Indicators")&.descendants %>
  <div class="form-group">
    <%= form.label :disaggregations, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <select style="width: 100%" class="js-select2" multiple="multiple" name="page[disaggregation_target_ids][]">
        <% selected_disaggregations = @page.disaggregations.map(&:target).map(&:id)  %>
        <% all_indicators.reject { |p| p.id == @page.id }.each do |page| %>
          <option <%= selected_disaggregations.include?(page.id) ? "selected" : "" %> value="<%= page.id %>"><%= page.label %></option>
        <% end %>
      </select>
    </div>
  </div>
<% end %>

<hr>

<div class="form-group">
  <%= form.label :partners, :class => 'control-label col-sm-2' %>
  <div class="col-sm-10">
    <select style="width: 100%" class="js-select2" multiple="multiple" name="page[partner_ids][]">
      <% page_partner_ids = @page.partner_ids %>

      <% Partner.pluck(:id, :name).each do |(id, name)| %>
        <option <%= page_partner_ids.include?(id) ? "selected" : "" %> value="<%= id %>"><%= name %></option>
      <% end %>
    </select>
  </div>
</div>

<hr>

<div class="form-group">
  <%= form.label :primary_aichi_target, :class => 'control-label col-sm-2' %>
  <div class="col-sm-10">
    <select style="width: 100%" class="js-select2" name="page[primary_aichi_target_id]">
      <% Aichi::Target.order(:target_number).all.each do |target| %>
        <option <%= @page.primary_aichi_target&.id == target.id ? "selected" : "" %> value="<%= target.id %>">Target <%= target.target_number %> - <%= target.description %></option>
      <% end %>
    </select>
  </div>
</div>

<div class="form-group">
  <%= form.label :secondary_aichi_targets, :class => 'control-label col-sm-2' %>
  <div class="col-sm-10">
    <select style="width: 100%" class="js-select2" multiple="multiple" name="page[secondary_aichi_target_ids][]">
      <% page_secondary_aichi_target_ids = @page.secondary_aichi_target_ids %>

      <% Aichi::Target.order(:target_number).all.each do |target| %>
        <option <%= page_secondary_aichi_target_ids.include?(target.id) ? "selected" : "" %> value="<%= target.id %>">Target <%= target.target_number %> - <%= target.description %></option>
      <% end %>
    </select>
  </div>
</div>

<hr>

<div class="form-group">
  <%= form.label :official_sdg_targets, :class => 'control-label col-sm-2' %>
  <div class="col-sm-10">
    <select style="width: 100%" class="js-select2" multiple="multiple" name="page[official_sdg_target_ids][]">
      <% page_official_sdg_target_ids = @page.official_sdg_target_ids %>

      <% Sdg::Target.order(:target_number).all.each do |target| %>
        <option <%= page_official_sdg_target_ids.include?(target.id) ? "selected" : "" %> value="<%= target.id %>">Target <%= target.target_number %> - <%= target.description %></option>
      <% end %>
    </select>
  </div>
</div>

<div class="form-group">
  <%= form.label :relevant_sdg_targets, :class => 'control-label col-sm-2' %>
  <div class="col-sm-10">
    <select style="width: 100%" class="js-select2" multiple="multiple" name="page[relevant_sdg_target_ids][]">
      <% page_relevant_sdg_target_ids = @page.relevant_sdg_target_ids %>

      <% Sdg::Target.order(:target_number).all.each do |target| %>
        <option <%= page_relevant_sdg_target_ids.include?(target.id) ? "selected" : "" %> value="<%= target.id %>">Target <%= target.target_number %> - <%= target.description %></option>
      <% end %>
    </select>
  </div>
</div>

<hr>

<div class="form-group">
  <%= form.label :official_mea_targets, :class => 'control-label col-sm-2' %>
  <div class="col-sm-10">
    <select style="width: 100%" class="js-select2" multiple="multiple" name="page[official_mea_target_ids][]">
      <% page_official_mea_target_ids = @page.official_mea_target_ids %>

      <% Mea.order(:name).all.each do |mea| %>
        <optgroup label="<%= mea.name %>">
          <% mea.mea_targets.each do |mea_target| %>
            <option <%= page_official_mea_target_ids.include?(mea_target.id) ? "selected" : "" %> value="<%= mea_target.id %>"><%= mea_target.target_title %> - <%= mea_target.description %></option>
          <% end %>
        </optgroup>
      <% end %>
    </select>
  </div>
</div>

<div class="form-group">
  <%= form.label :relevant_mea_targets, :class => 'control-label col-sm-2' %>
  <div class="col-sm-10">
    <select style="width: 100%" class="js-select2" multiple="multiple" name="page[relevant_mea_target_ids][]">
      <% page_relevant_mea_target_ids = @page.relevant_mea_target_ids %>

      <% Mea.order(:name).all.each do |mea| %>
        <optgroup label="<%= mea.name %>">
          <% mea.mea_targets.each do |mea_target| %>
            <option <%= page_relevant_mea_target_ids.include?(mea_target.id) ? "selected" : "" %> value="<%= mea_target.id %>"><%= mea_target.target_title %> - <%= mea_target.description %></option>
          <% end %>
        </optgroup>
      <% end %>
    </select>
  </div>
</div>

<hr>

<div class="form-group">
  <%= form.label :themes, :class => 'control-label col-sm-2' %>
  <div class="col-sm-10">
    <select style="width: 100%" class="js-select2" multiple="multiple" name="page[theme_ids][]">
      <% Theme.pluck(:id, :name).each do |(id, name)| %>
        <option <%= @page.theme_ids.include?(id) ? "selected" : "" %> value="<%= id %>"><%= name %></option>
      <% end %>
    </select>
  </div>
</div>

<hr>
