<li id="<%= dom_id(aichi_target) %>">
  <div class="item">
    <div class="btn-group btn-group-sm">
      <%= link_to t('.edit'), edit_admin_aichi_target_path(aichi_target), :class => 'btn btn-default' %>
      <%= link_to t('.delete'), admin_aichi_target_path(aichi_target), method: :delete, :class => 'btn btn-default' %>
    </div>
    <% if aichi_target.logo.present? %>
      <%= image_tag aichi_target.logo.url(:thumb), style: "float: left; width: 50px" %>
    <% end %>
    <div class="item-content">
      <div class="item-title">
        <%= link_to aichi_target.name, edit_admin_aichi_target_path(aichi_target) %>
      </div>
      <div class="item-meta">
        <strong>Target number:</strong> <%= aichi_target.target_number %><br>
        <strong>Name:</strong> <%= aichi_target.name %><br>
        <strong>Aichi Goal:</strong> <%= aichi_target.aichi_goal.try(:name) %> <br>
        <strong>Description:</strong> <p><%= aichi_target.description %></p>
      </div>
    </div>
  </div>
</li>

