<div data-select-group="browse" data-select-target="aichi-targets">
  <div class="targets-browse">
    <div class="targets-browse__goals-container">
      <div class="targets-browse__goals">
        <% Aichi::Goal.order(:name).all.each do |goal| %>
          <div class="targets-browse__goal">
            <h3
              data-select-group="aichi-targets"
              data-select-trigger="goal_<%= goal.id %>"
              class="targets-browse__goal-title"
            ><%= goal.name %></h3>
            <% goal.aichi_targets.order(:position).each do |target|  %>
              <button
                data-select-group="aichi-targets"
                data-select-trigger="target_<%= target.id %>"
                data-select-parent="goal_<%= goal.id %>"
                class="targets-browse__target-icon">
                <%= image_tag target.logo.url(:thumb) %>
              </button>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <% Aichi::Goal.order(:name).all.each do |goal| %>
    <div
      data-select-group="aichi-targets"
      data-select-target="goal_<%= goal.id %>"
      class="homepage-targets"
    >
      <div class="homepage-targets__goal">
        <h4 class="homepage-targets__goal-title"><%= goal.name %>:</h4>
        <p class="homepage-targets__goal-description"><%= goal.description %></p>
      </div>

      <div class="homepage-targets__targets">
        <% goal.aichi_targets.order(:position).each do |target| %>
          <div
            class="homepage-targets__target"
          >
            <div class="homepage-targets__target-header">
              <div class="homepage-targets__target-icon"><%= image_tag target.logo.url(:thumb) %></div>
              <div>
                <h5 class="homepage-targets__target-title">Aichi Target <%= target.target_number %>:</h5>
                <p class="homepage-targets__target-name"><%= target.name %></p>
              </div>
            </div>
            <p class="homepage-targets__target-description"><%= target.description %></p>
            <% if target.pages.any? %>
              <% target.pages.each do |page| %>
                <a href="<%= page.full_path %>" class="homepage-targets__target-indicator">
                  <%= page.label %> <i class="homepage-themes__theme-indicator-icon fa fa-chevron-right"></i>
                </a>
              <% end %>
            <% else %>
              <p class="homepage-targets__target-indicator homepage-targets__target-indicator--bold">No Global Indicators available yet</p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% Aichi::Target.all.each do |target| %>
    <div
      data-select-group="aichi-targets"
      data-select-target="target_<%= target.id %>"
      class="homepage-targets"
    >
      <div class="homepage-targets__target">
        <div class="homepage-targets__target-header">
          <div class="homepage-targets__target-icon"><%= image_tag target.logo.url(:thumb) %></div>
          <div>
            <h5 class="homepage-targets__target-title">Aichi Target <%= target.target_number %>:</h5>
            <p class="homepage-targets__target-name"><%= target.name %></p>
          </div>
        </div>
        <p class="homepage-targets__target-description"><%= target.description %></p>
        <% if target.pages.any? %>
          <% target.pages.each do |page| %>
            <a href="<%= page.full_path %>" class="homepage-targets__target-indicator"><%= page.label %></a>
          <% end %>
        <% else %>
          <p class="homepage-targets__target-indicator homepage-targets__target-indicator--bold">No Global Indicators available yet</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
