<div data-select-group="browse" data-select-target="meas">
  <div class="themes-browse">
    <div class="themes-browse__themes">
      <% Mea.order(:name).all.each do |mea| %>
        <div data-select-group="meas" data-select-trigger="<%= mea.id %>" class="themes-browse__theme">
          <div class="themes-browse__theme-icon themes-browse__theme-icon--no-radius">
            <%= image_tag mea.logo.url(:thumb) %>
          </div>
          <h3 class="themes-browse__theme-name"><%= mea.name %></h3>
        </div>
      <% end %>
    </div>
  </div>

  <div class="homepage-themes">
    <% Mea.all.each do |mea| %>
      <div
        data-select-group="meas"
        data-select-target="<%= mea.id %>"
        class="homepage-themes__theme"
      >
      <div class="homepage-targets__goal">
        <h4 class="homepage-targets__goal-title homepage-targets__goal-title--flex">
          <%= image_tag mea.logo.url(:medium), class: "u-only-desktop homepage-targets__goal-icon" %>
          <%= mea.name %>
        </h4>
        <div class="homepage-targets__goal-description">
          <p>
            <%= raw mea.description %>
          </p>
        </div>
      </div>
        <% if mea.mea_targets.flat_map(&:pages).any? %>
          <% mea.mea_targets.flat_map(&:pages).uniq.sort_by(&:label).each do |page| %>
            <a href="<%= page.full_path %>" class="homepage-targets__target-indicator">
              <i class="homepage-themes__theme-indicator-icon fa fa-chevron-right"></i><%= page.label %>
          </a>
          <% end %>
        <% else %>
          <p class="homepage-themes__theme-indicator homepage-themes__theme-indicator--bold">No Global Indicators available yet</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
