<% sdg_goals = Sdg::Goal.order(:position).includes(sdg_targets: :pages).all %>

<div
  data-select-group="browse"
  data-select-target="sdgs"
  class="targets-browse"
>
  <div class="targets-browse__header">
    <h3 class="targets-browse__title">
      Sustainable Development Goals
    </h3>
    <div class="targets-browse__goals">
      <ul class="targets-browse__goals-items">
        <% sdg_goals.each do |goal| %>
          <li
            class="targets-browse__goals-item"
            data-select-group="sdgs"
            data-select-trigger="<%= goal.id %>"
          >
            <button class="targets-browse__target-icon targets-browse__target-icon--sdg">
              <%= image_tag goal.logo.url(:medium) %>
            </button>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="targets-browse__body">
    <% sdg_goals.each do |goal| %>
      <div
        data-select-group="sdgs"
        data-select-target="<%= goal.id %>"
        class="homepage-targets"
      >
        <div class="homepage-targets__header">
          <%= image_tag goal.logo.url(:medium), class: "u-only-desktop homepage-targets__icon" %>

          <h4 class="homepage-targets__title">
            <%= goal.name %>
            <span class="homepage-targets__description">
              <%= goal.description %>
            </span>
          </h4>
        </div>

        <% if goal.sdg_targets.any? { |t| t.pages.any? } %>
          <div class="homepage-targets__body">
            <ul class="homepage-targets__listing-items">
              <% goal.sdg_targets.sort_by(&:target_number).select { |t| t.pages.any? }.each do |target| %>
                <li class="homepage-targets__listing-item">
                  <div class="homepage-targets__card">
                    <div class="homepage-targets__card-header">
                      <h5 class="homepage-targets__card-title">
                        SDG Target <%= target.target_number %>:
                      </h5>
                      <p class="homepage-targets__card-description">
                        <%= target.description %>
                      </p>
                    </div>

                    <div class="homepage-targets__card-body">
                      <% if target.pages.any? %>
                        <% if target.official_pages.any? %>
                          <h6 class="homepage-targets__card-heading">
                            Official Indicators
                          </h6>
                          <div class="homepage-targets__card-indicators">
                            <ul class="homepage-targets__card-indicator-items">
                              <% target.official_pages.each do |page| %>
                                <li class="homepage-targets__card-indicator-item">
                                  <a href="<%= page.full_path %>" class="homepage-targets__card-indicator">
                                    <%= page.label %><i class="homepage-targets__card-indicator-icon fa fa-arrow-right"></i>
                                  </a>
                                </li>
                              <% end %>
                            </ul>
                          </div>
                        <% end %>

                        <% if target.relevant_pages.any? %>
                          <h6 class="homepage-targets__card-heading">
                            Relevant Indicators
                          </h6>
                          <div class="homepage-targets__card-indicators">
                            <ul class="homepage-targets__card-indicator-items">
                              <% target.relevant_pages.each do |page| %>
                                <li class="homepage-targets__card-indicator-item">
                                  <a href="<%= page.full_path %>" class="homepage-targets__card-indicator">
                                    <%= page.label %><i class="homepage-targets__card-indicator-icon fa fa-arrow-right"></i>
                                  </a>
                                </li>
                              <% end %>
                            </ul>
                          </div>
                        <% end %>
                      <% else %>
                        <p class="homepage-targets__card-indicator homepage-targets__card-indicator--bold">
                          No global indicators currently available under the BIP
                        </p>
                      <% end %>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        <% else %>
          <p class="homepage-targets__card-indicator homepage-targets__card-indicator--bold">
            No global indicators currently available under the BIP
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
