<% themes = Theme.includes(:pages).all %>

<div data-select-group="browse" data-select-target="themes">
  <div class="themes-browse">
    <div class="themes-browse__themes">
      <% themes.each do |theme| %>
        <div data-select-group="themes" data-select-trigger="<%= theme.id %>" class="themes-browse__theme">
          <div>
            <%= image_tag theme.logo.url(:thumb), class: "themes-browse__theme-icon" %>
          </div>
          <h3 class="themes-browse__theme-name"><%= theme.name %></h3>
        </div>
      <% end %>
    </div>
  </div>

  <div class="homepage-themes">
    <% themes.each do |theme| %>
      <div
        data-select-group="themes"
        data-select-target="<%= theme.id %>"
        class="homepage-themes__theme"
        >
        <div class="homepage-targets__goal">
          <h4 class="homepage-targets__goal-title homepage-targets__goal-title--flex">
            <%= image_tag theme.logo.url(:medium), class: "u-only-desktop homepage-targets__goal-icon homepage-targets__goal-icon--round" %>
            <%= theme.name %>
          </h4>
          <div class="homepage-targets__goal-description">
            <p>
              <%= raw theme.description %>
            </p>
          </div>
        </div>
        <% if theme.pages.any? %>
          <% theme.pages.each do |page| %>
            <a href="<%= page.full_path %>" class="homepage-targets__target-indicator">
              <i class="homepage-themes__theme-indicator-icon fa fa-chevron-right"></i><%= page.label %>
          </a>
        <% end %>
      <% else %>
        <p class="homepage-themes__theme-indicator homepage-themes__theme-indicator--bold">No Global Indicators available yet</p>
      <% end %>
    </div>
  <% end %>
</div>
</div>
