<footer class="footer">
  <div class="footer__content">
    <div class="footer__navigation">
      <%= link_to "Home", "#", class: "footer__navigation-link" %>
      <%= link_to "About", "#", class: "footer__navigation-link" %>
      <%= link_to "National indicators", "#", class: "footer__navigation-link" %>
      <%= link_to "Partners", "#", class: "footer__navigation-link" %>
      <%= link_to "Resources", "#", class: "footer__navigation-link" %>
    </div>
    <div class="footer__columns u-clearfix">
      <div class="footer__column footer__column--large">
        <h3 class="u-no-margin-bottom">BIP Secretariat</h3>
        <p class="footer__column-body">
          The BIP Secretariat is hosted by the UNEP World Conservation Monitoring
          Centre in Cambridge, UK. Please do not hesitate to contact our global
          helpdesk regarding the Biodiversity Indicators Partnership, global
          indicators or national support.
        </p>
      </div>
      <div class="footer__column footer__column--small">
        <h3 class="footer__column-title"><i class="fa fa-at icon--left"></i>Email</h3>
        <p class="footer__column-body footer__column-body--no-margin">
          <a href="mailto:info@bipindicators.net">info@bipindicators.net</a>
        </p>
      </div>
      <div class="footer__column footer__column--large">
        <h3 class="footer__column-title"><i class="fa fa-envelope icon--left"></i>Address</h3>
        <p class="footer__column-body footer__column-body--no-margin">
          UNEP World Conservation Monitoring Centre<br>
          219 Huntingdon Road<br>
          Cambridge<br>
          CB3 0DL<br>
          UK
        </p>
      </div>
      <div class="footer__column footer__column--small">
        <h3 class="footer__column-title"><i class="fa fa-phone icon--left"></i>Tel</h3>
        <p class="footer__column-body footer__column-body--no-margin"><a href="tel:+441223814664">+44 (0)1223 814664</a></p>
      </div>
    </div>
    <p class="copyright">
      Copyright 2016 UNEP WCMC
    </p>
  </div>
</footer>
