<header class="header">
  <div class="header__top">
    <div class="header__body">
      <div class="header__items">
        <div class="header__item header__item--logo">
          <a class="header__logo" href="/"></a>
        </div>
        <div class="header__item header__item--nav u-hide-print">
          <nav class="header__navigation">
            <ul class="header__navigation_items">
              <% nav_items.each do |item| %>
                <li class="header__navigation_item">
                  <%=
                    link_to item[:label],
                      item[:link],
                      class: "header__navigation-link"
                  %>
                </li>
              <% end %>
            </ul>
          </nav>
        </div>
        <div class="header__item header__item--mobile-menu">
          <button
            data-toggle-trigger="mobile-menu"
            class="header__menu-toggle"
          >
            Menu
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    data-toggle-target="mobile-menu"
    data-toggle-hide
    class="mobile-menu u-hide"
  >
    <div class="mobile-menu__body">
      <nav class="mobile-menu__navigation">
        <ul class="mobile-menu__navigation-items">
          <% nav_items.each do |item| %>
            <li class="mobile-menu__navigation-item">
              <%=
                link_to item[:label],
                  item[:link],
                  class: "mobile-menu__navigation-link"
              %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>

  <div class="header__bottom">
    <div class="header__content">
      <% if @cms_page %>
        <% if @cms_page.full_path != "/" %>
          <div class="breadcrumbs u-only-desktop u-hide-print">
            <%= breadcrumb "Home", "/", true %>
            <%= yield :breadcrumbs %>
            <%= breadcrumb(@cms_page.label) %>
          </div>
        <% end %>
      <% else %>
        <div class="breadcrumbs u-only-desktop">
          <%= breadcrumb "Home", "/", true %>
          <%= yield :breadcrumbs %>
        </div>
      <% end %>

      <%= yield :page_title %>
    </div>
  </div>
</header>
