<header class="header">
  <div class="header__top">
    <div class="header__body">
      <div class="header__items">
        <div class="header__item header__item--logo">
          <a class="header__logo" href="/"></a>
        </div>
        <div class="header__item header__item--nav u-hide-print">
          <nav class="header__navigation">
            <ul class="header__navigation_items">
              <li class="header__navigation_item">
                <%=
                  link_to "About",
                  "/about",
                  class: "header__navigation-link"
                %>
              </li>
              <li class="header__navigation_item">
                <%=
                  link_to "Biodiversity Indicators",
                  "/biodiversity-indicators",
                  class: "header__navigation-link"
                %>
              </li>
              <li class="header__navigation_item">
                <%=
                  link_to "Indicator Development",
                  "/national-indicator-development",
                  class: "header__navigation-link"
                %>
              </li>
              <li class="header__navigation_item">
                <%=
                  link_to "Partners",
                  "/partners",
                  class: "header__navigation-link"
                %>
              </li>
              <li class="header__navigation_item">
                <%=
                  link_to "Resources",
                  resources_path(
                    filters: {
                      category: Comfy::Cms::Page.find_by_label("Resources")&.children.first&.id
                    }
                  ),
                  class: "header__navigation-link"
                %>
              </li>
              <li class="header__navigation_item">
                <%=
                  link_to "Dashboard",
                  "http://bipdashboard.natureserve.org/bip",
                  class: "header__navigation-link"
                %>
              </li>
            </ul>
          </nav>
        </div>
        <div class="header__item header__item--mobile-menu">
          <button
            data-toggle-trigger="mobile-menu"
            class="header__menu-toggle"
          >
            Menu
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    data-toggle-target="mobile-menu"
    data-toggle-hide
    class="mobile-menu u-hide"
  >
    <div class="mobile-menu__body">
      <nav class="mobile-menu__navigation">
        <ul class="mobile-menu__navigation-items">
          <li class="mobile-menu__navigation-item">
            <%=
              link_to "Home",
              "/",
              class: "mobile-menu__navigation-link"
            %>
          </li>
          <li class="mobile-menu__navigation-item">
            <%=
              link_to "About",
              "/about",
              class: "mobile-menu__navigation-link"
            %>
          </li>
          <li class="mobile-menu__navigation-item">
            <%=
              link_to "Indicator Development",
              "/national-indicator-development",
              class: "mobile-menu__navigation-link"
            %>
          </li>
          <li class="mobile-menu__navigation-item">
            <%=
              link_to "Partners",
              "/partners",
              class: "mobile-menu__navigation-link"
            %>
          </li>
          <li class="mobile-menu__navigation-item">
            <%=
              link_to "Resources",
              "/resources",
              class: "mobile-menu__navigation-link"
            %>
          </li>
          <li class="mobile-menu__navigation-item">
            <%=
              link_to "Dashboard",
              "http://bipdashboard.natureserve.org/bip",
              class: "mobile-menu__navigation-link"
            %>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="header__bottom">
    <div class="header__content">
      <% if @cms_page %>
        <% if @cms_page.full_path == "/" %>
          <div class="s-free-text s-free-text--hero-text s-free-text--with-h1">
            <%= cms_block_content(:hero_text).html_safe %>
          </div>
        <% else %>
          <div class="breadcrumbs u-only-desktop u-hide-print">
            <%= breadcrumb "Home", "/", true %>
            <%= yield :breadcrumbs %>
            <%= breadcrumb(@cms_page.label) %>
          </div>
        <% end %>
      <% else %>
        <div class="breadcrumbs u-only-desktop">
          <%= breadcrumb "Home", "/", true %>
          <%= yield :breadcrumbs %>
        </div>
      <% end %>

      <%= yield :page_title %>
    </div>
  </div>
</header>
