<header class="header">
  <div class="header__top u-clearfix">
    <div class="header__content">
      <div class="header__navigation">
        <a class="header__logo" href="/"></a>
        <div class="header__element u-pull-right u-only-desktop u-hide-print">
          <%= link_to "Home", "/", class: "header__element" %>
          <%= link_to "About", "/about", class: "header__element" %>
          <%= link_to "Indicator Development", "/national-indicator-development", class: "header__element" %>
          <%= link_to "Partners", "/partners", class: "header__element" %>
          <%= link_to "Resources", resources_path(filters: {category: Comfy::Cms::Page.find_by_label("Resources")&.children.first&.id}), class: "header__element" %>
          <% #link_to "Dashboard", "http://bipdashboard.natureserve.org/content/map?c=BIP", class: "header__element" %>
        </div>
        <div class="header__element header__element--menu u-pull-right u-only-mobile">
          <button data-toggle-trigger="mobile-menu" class="header__menu">Menu</button>
        </div>
      </div>
    </div>
  </div>

  <div data-toggle-target="mobile-menu" data-toggle-hide class="u-hide u-only-mobile mobile-menu">
    <%= link_to "Home", "/", class: "mobile-menu__link" %>
    <%= link_to "About", "/about", class: "mobile-menu__link" %>
    <%= link_to "Indicator Development", "/national-indicator-development", class: "mobile-menu__link" %>
    <%= link_to "Partners", "/partners", class: "mobile-menu__link" %>
    <%= link_to "Resources", "/resources", class: "mobile-menu__link" %>
    <%= link_to "Dashboard", "http://bipdashboard.natureserve.org/content/map?c=BIP", class: "mobile-menu__link" %>
  </div>

  <div class="header__bottom">
    <div class="header__content">
      <% if @cms_page %>
        <% if @cms_page.full_path == "/" %>
          <div class="s-free-text s-free-text--hero-text s-free-text--with-h1">
            <%= cms_block_content(:hero_text).html_safe %>
          </div>
        <% else %>
          <div class="breadcrumbs u-only-desktop u-hide-print">
            <%= breadcrumb "Home", "/", true %>
            <%= yield :breadcrumbs %>
            <%= breadcrumb(@cms_page.label) %>
          </div>
        <% end %>
      <% else %>
        <div class="breadcrumbs u-only-desktop">
          <%= breadcrumb "Home", "/", true %>
          <%= yield :breadcrumbs %>
        </div>
      <% end %>

      <%= yield :page_title %>
    </div>
  </div>
</header>
