<div class="filters__search-wrapper">
  <div class="filters__search">
    <form
      action="/resources"
      method="GET"
    >
      <input
        type="text"
        name="q"
        placeholder="<%= resources_search_placeholder %>"
        class="filters__search-bar"
      ></input>
      <button class="filters__search-bar-icon" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>
</div>
</div>

<h2 class="filters__title">
  Filter by:
</h2>

<div class="filters__body">
  <ul
    <%= "data-toggle-hide" unless params.has_key?(:filters) %>
    data-toggle-target="tags"
    class="filters__list"
  >
    <% Tag.order(:name).all.each do |tag| %>
      <li class="filters__list-item">
        <a href="<%= filter_link(:tags, tag.id)  %>" class="filters__filter">
          <div class="<%= filter_toggle_class(:tags, tag.id) %>"></div>

          <span class="filters__filter-title">
            <%= tag.name %>
          </span>
        </a>
      </li>
    <% end %>
  </ul>
</div>
