<div data-extra-fields="Indicator page">
  <hr>

  <div class="form-group">
    <%= form.label :indicator_type, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <select style="width: 100%" class="js-select2" name="page[indicator_type_id]">
        <% IndicatorType.pluck(:id, :name).each do |(id, name)| %>
          <option <%= @page.indicator_type&.id == id ? "selected" : "" %> value="<%= id %>"><%= name %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :applicable_for_national_use, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= check_box_tag "page[applicable_for_national_use]", "", @page.applicable_for_national_use %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :indicator_classification, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <select style="width: 100%" class="js-select2" name="page[indicator_classification_id]">
        <% IndicatorClassification.pluck(:id, :name).each do |(id, name)| %>
          <option <%= @page.indicator_classification&.id == id ? "selected" : "" %> value="<%= id %>"><%= name %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :last_update, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <select style="width: 100%" class="js-select2" name="page[last_update]">
        <% (2008..Date.today.year).each do |year| %>
          <option <%= @page.last_update&.year == year ? "selected" : "" %> value="<%= year %>"><%= year %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :coverage, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <select style="width: 100%" class="js-select2" name="page[coverage_id]">
        <% Coverage.pluck(:id, :name).each do |(id, name)| %>
          <option <%= @page.coverage&.id == id ? "selected" : "" %> value="<%= id %>"><%= name %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :freely_available, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= check_box_tag "page[freely_available]", "", @page.freely_available, data: {check_show_trigger: "available-link"} %>
    </div>
  </div>

  <div class="form-group" data-check-show-target="available-link">
    <%= form.label :available_link, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= url_field_tag "page[available_link]", @page.available_link, style: "width:100%;", placeholder: "e.g. http://example.com" %>
    </div>
  </div>

  <hr>

  <div class="form-group">
    <%= form.label :resources, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <% if @page.resources.any? %>
        <ul>
          <% @page.resources.each do |resource| %>
            <li>
              <%= resource.label %>
              <%= link_to("Delete resource", admin_resource_path(resource), method: :delete, class: "btn btn-danger") %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <div class="js-add-resources">
        <div class="js-target"></div>
        <button class="js-trigger btn btn-primary">Add new resource</button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :disaggregations, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <select style="width: 100%" class="js-select2" multiple="multiple" name="page[disaggregation_target_ids][]">
        <% selected_disaggregations = @page.disaggregations.map(&:target).map(&:id)  %>
        <% Comfy::Cms::Page.find_by_label("Indicators").children.reject { |p| p.id == @page.id }.each do |page| %>
          <option <%= selected_disaggregations.include?(page.id) ? "selected" : "" %> value="<%= page.id %>"><%= page.label %></option>
        <% end %>
      </select>
    </div>
  </div>

  <hr>

  <div class="form-group">
    <%= form.label :partners, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <select style="width: 100%" class="js-select2" multiple="multiple" name="page[partner_ids][]">
        <% Partner.pluck(:id, :name).each do |(id, name)| %>
          <option <%= @page.partner_ids.include?(id) ? "selected" : "" %> value="<%= id %>"><%= name %></option>
        <% end %>
      </select>
    </div>
  </div>

  <hr>

  <div class="form-group">
    <%= form.label :primary_aichi_target, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <select style="width: 100%" class="js-select2" name="page[primary_aichi_target_id]">
        <% Aichi::Target.order(:target_number).all.each do |target| %>
          <option <%= @page.primary_aichi_target&.id == target.id ? "selected" : "" %> value="<%= target.id %>">Target <%= target.target_number %> - <%= target.description %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :secondary_aichi_targets, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <select style="width: 100%" class="js-select2" multiple="multiple" name="page[secondary_aichi_target_ids][]">
        <% Aichi::Target.order(:target_number).all.each do |target| %>
          <option <%= @page.secondary_aichi_target_ids.include?(target.id) ? "selected" : "" %> value="<%= target.id %>">Target <%= target.target_number %> - <%= target.description %></option>
        <% end %>
      </select>
    </div>
  </div>

  <hr>

  <div class="form-group">
    <%= form.label :official_sdg_targets, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <select style="width: 100%" class="js-select2" multiple="multiple" name="page[official_sdg_target_ids][]">
        <% Sdg::Target.order(:target_number).all.each do |target| %>
          <option <%= @page.official_sdg_target_ids.include?(target.id) ? "selected" : "" %> value="<%= target.id %>">Target <%= target.target_number %> - <%= target.description %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :relevant_sdg_targets, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <select style="width: 100%" class="js-select2" multiple="multiple" name="page[relevant_sdg_target_ids][]">
        <% Sdg::Target.order(:target_number).all.each do |target| %>
          <option <%= @page.relevant_sdg_target_ids.include?(target.id) ? "selected" : "" %> value="<%= target.id %>">Target <%= target.target_number %> - <%= target.description %></option>
        <% end %>
      </select>
    </div>
  </div>

  <hr>

  <div class="form-group">
    <%= form.label :official_mea_targets, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <select style="width: 100%" class="js-select2" multiple="multiple" name="page[official_mea_target_ids][]">
        <% Mea.order(:name).all.each do |mea| %>
          <optgroup label="<%= mea.name %>">
            <% mea.mea_targets.each do |mea_target| %>
              <option <%= @page.official_mea_target_ids.include?(mea_target.id) ? "selected" : "" %> value="<%= mea_target.id %>">Target <%= mea_target.target_title %> - <%= mea_target.description %></option>
            <% end %>
          </optgroup>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :relevant_mea_targets, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <select style="width: 100%" class="js-select2" multiple="multiple" name="page[relevant_mea_target_ids][]">
        <% Mea.order(:name).all.each do |mea| %>
          <optgroup label="<%= mea.name %>">
            <% mea.mea_targets.each do |mea_target| %>
              <option <%= @page.relevant_mea_target_ids.include?(mea_target.id) ? "selected" : "" %> value="<%= mea_target.id %>">Target <%= mea_target.target_title %> - <%= mea_target.description %></option>
            <% end %>
          </optgroup>
        <% end %>
      </select>
    </div>
  </div>

  <hr>

  <div class="form-group">
    <%= form.label :themes, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <select style="width: 100%" class="js-select2" multiple="multiple" name="page[theme_ids][]">
        <% Theme.pluck(:id, :name).each do |(id, name)| %>
          <option <%= @page.theme_ids.include?(id) ? "selected" : "" %> value="<%= id %>"><%= name %></option>
        <% end %>
      </select>
    </div>
  </div>

  <hr>
</div>
