<div data-extra-fields="Indicator page">
  <div class="form-group">
    <%= form.label :resources, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <% if @page.resources.any? %>
        <ul>
          <% @page.resources.each do |resource| %>
            <li>
              <%= resource.label %>
              <%= link_to("Delete resource", admin_resource_path(resource), method: :delete, class: "btn btn-danger") %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <div class="js-add-resources">
        <div class="js-target"></div>
        <button class="js-trigger btn btn-primary">Add new resource</button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :disaggregations, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <% if @page.disaggregations.any? %>
        <ul>
          <% @page.disaggregations.each do |disaggregation| %>
            <li>
              <%= disaggregation.label %>
              <%= link_to("Delete disaggregation", admin_disaggregation_path(disaggregation), method: :delete, class: "btn btn-danger") %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <div class="js-add-disaggregation">
        <div class="js-target"></div>
        <button class="js-trigger btn btn-primary">Add new disaggregation</button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :partners, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <select style="width: 100%" class="js-select2" multiple="multiple" name="page[partner_ids][]">
        <% Partner.pluck(:id, :name).each do |(id, name)| %>
          <option <%= @page.partner_ids.include?(id) ? "selected" : "" %> value="<%= id %>"><%= name %></option>
        <% end %>
      </select>
    </div>
  </div>

  <hr>

  <div class="form-group">
    <%= form.label :primary_aichi_target, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <select style="width: 100%" class="js-select2" name="page[primary_aichi_target_id]">
        <% Aichi::Target.order(:target_number).all.each do |target| %>
          <option <%= @page.primary_aichi_target&.id == target.id ? "selected" : "" %> value="<%= target.id %>">Target <%= target.target_number %> - <%= target.description %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :secondary_aichi_targets, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <select style="width: 100%" class="js-select2" multiple="multiple" name="page[secondary_aichi_target_ids][]">
        <% Aichi::Target.order(:target_number).all.each do |target| %>
          <option <%= @page.secondary_aichi_target_ids.include?(target.id) ? "selected" : "" %> value="<%= target.id %>">Target <%= target.target_number %> - <%= target.description %></option>
        <% end %>
      </select>
    </div>
  </div>

  <hr>

  <div class="form-group">
    <%= form.label :official_sdg_targets, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <select style="width: 100%" class="js-select2" multiple="multiple" name="page[official_sdg_target_ids][]">
        <% Sdg::Target.order(:target_number).all.each do |target| %>
          <option <%= @page.official_sdg_target_ids.include?(target.id) ? "selected" : "" %> value="<%= target.id %>">Target <%= target.target_number %> - <%= target.description %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :relevant_sdg_targets, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <select style="width: 100%" class="js-select2" multiple="multiple" name="page[relevant_sdg_target_ids][]">
        <% Sdg::Target.order(:target_number).all.each do |target| %>
          <option <%= @page.relevant_sdg_target_ids.include?(target.id) ? "selected" : "" %> value="<%= target.id %>">Target <%= target.target_number %> - <%= target.description %></option>
        <% end %>
      </select>
    </div>
  </div>

  <hr>

  <div class="form-group">
    <%= form.label :official_mea_targets, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <select style="width: 100%" class="js-select2" multiple="multiple" name="page[official_mea_target_ids][]">
        <% Mea.order(:name).all.each do |mea| %>
          <optgroup label="<%= mea.name %>">
            <% mea.mea_targets.each do |mea_target| %>
              <option <%= @page.official_mea_target_ids.include?(mea_target.id) ? "selected" : "" %> value="<%= mea_target.id %>">Target <%= mea_target.target_number %> - <%= mea_target.description %></option>
            <% end %>
          </optgroup>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :relevant_mea_targets, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <select style="width: 100%" class="js-select2" multiple="multiple" name="page[relevant_mea_target_ids][]">
        <% Mea.order(:name).all.each do |mea| %>
          <optgroup label="<%= mea.name %>">
            <% mea.mea_targets.each do |mea_target| %>
              <option <%= @page.relevant_mea_target_ids.include?(mea_target.id) ? "selected" : "" %> value="<%= mea_target.id %>">Target <%= mea_target.target_number %> - <%= mea_target.description %></option>
            <% end %>
          </optgroup>
        <% end %>
      </select>
    </div>
  </div>

  <hr>

  <div class="form-group">
    <%= form.label :themes, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <select style="width: 100%" class="js-select2" multiple="multiple" name="page[theme_ids][]">
        <% Theme.pluck(:id, :name).each do |(id, name)| %>
          <option <%= @page.theme_ids.include?(id) ? "selected" : "" %> value="<%= id %>"><%= name %></option>
        <% end %>
      </select>
    </div>
  </div>

  <hr>
</div>
