<% if @cms_page.resources.any? %>
  <div class="page__aside-section page__aside-section--last-mobile">
    <h2 class="page__aside-section-title">Publications</h2>
    <% @cms_page.resources.order(:index).each_with_index do |resource, i| %>
      <p class="<%= i.zero? ? "u-fix-h2-margin" : "" %>">
        <% if resource.kind == "file" %>
          <%= link_to resource.file.url do %>
            <i class="fa fa-download icon--left"></i>
            <span class="page__aside-link"><%= resource.label %></span>
          <% end %>
        <% else %>
          <%= link_to resource.url do %>
            <i class="fa fa-link icon--left"></i>
            <span class="page__aside-link"><%= resource.label %></span>
          <% end %>
        <% end %>
      </p>
    <% end %>
  </div>
<% end %>

