<%= image_tag @cms_page.initiative.logo.url(:medium), class: "initiative-page__logo" %>
<p>
  <strong>Scale:</strong><br>
  <%= text_or_na @cms_page.initiative.scale %>
</p>

<p>
  <strong>Year started:</strong><br>
  <%= text_or_na @cms_page.initiative.year_started %>
</p>

<p>
  <strong>Countries Included:</strong><br>
  <%= text_or_na @cms_page.initiative.countries_included %>
</p>

<p>
  <strong>Organization Responsible:</strong><br>
  <%= text_or_na @cms_page.initiative.organization_responsible %>
</p>

<p>
  <strong>Focal Point:</strong><br>
  <%= raw(text_or_na(@cms_page.initiative.focal_point)) %>
</p>
