<p>
  <strong>Scale:</strong><br>
  <%= @cms_page.initiative.scale %>
</p>

<p>
  <strong>Year started:</strong><br>
  <%= @cms_page.initiative.year_started %>
</p>

<p>
  <strong>Countries Included:</strong><br>
  <%= @cms_page.initiative.countries_included %>
</p>

<p>
  <strong>Organization Responsible:</strong><br>
  <%= @cms_page.initiative.organization_responsible %>
</p>

<p>
  <strong>Focal Point:</strong><br>
  <%= raw(@cms_page.initiative.focal_point) %>
</p>
