<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:page_title) ? "#{yield(:page_title)} | Biodiversity Indicators Partnership" : "Biodiversity Indicators Partnership" %></title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    <!-- google -->
    <meta name="Description" content="BIP Indicators Website for the Biodiversity Indicators Partnership">
    <meta name="twitter:description" content="BIP Indicators Website for the Biodiversity Indicators Partnership">
    <!-- Twitter -->
    <meta name="twitter:site" content="@BIPIndicators">
    <meta name="twitter:title" content="Biodiversity Indicators Partnership">
    <!-- <meta content="" name="twitter:image"> -->

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/application/header" %>

    <%= yield %>

    <%= render "layouts/application/footer" %>

    <%= javascript_include_tag 'application' %>
    <% if Rails.env.staging? || Rails.env.production? %>
      <%= render "layouts/tracking" %>
    <% end %>
  </body>
</html>
