<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:page_title) ? "#{yield(:page_title)} | Biodiversity Indicators Partnership" : "Biodiversity Indicators Partnership" %></title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>


    <%= javascript_include_tag 'application' %>
    <% if Rails.env.staging? || Rails.env.production? %>
      <%= render "layouts/tracking" %>
    <% end %>
  </body>
</html>
